<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{college["title"]}}</title>

    <link href="{{ url_for('static', filename='addlogin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link media="screen and (max-width:1300px)" href="{{url_for('static', filename='media.css') }}" rel="stylesheet">

</head>

<body>
    <div class="meanmenu" id="meanmenu">
        <div class="icon">
            <img src="{{url_for('static',filename="logo.jpg")}}" alt="Wait">
        </div>
        <ul class="menupoint" id="menupoint" type="none">
            <li class="point active" id="li">
                <a href="/" class="font">Home</a>
                <ul class="submenu1" type="none">
                    <li class="marg"><a href="" class="font"> Details</a>
                        <ul class="ssmenu1" type="none">
                            <li><a href="/detail" class="font">Detail</a></li>
                            <li><a href="/admin1" class="font">Login</a></li>
                            <li><a href="/feedback" class="font">Feedback 3</a></li>
                        </ul>
                    </li>
                    <li><a href="/addlogin" class="font">Add</a></li>
                    <li><a href="" class="font"> Exam </a></li>
                    <li><a href="/contact" class="font">Contact us </a></li>
                    <li><a href="/feedback" class="font"> Feedback </a></li>
                </ul>
            </li>
            <li class="point"><a href="/detail" class="font">Details</a>
            </li>
            <li class="point"><a href="/addlogin" class="font">Admission</a>
            <ul class="submenu1" type="none">
                    <li><a href="/admission1" class="font">Form</a></li>
                    <li><a href="/admission2" class="font"> Update </a></li>
                </ul>
            </li>
            <li class="point"><a href="/studentlogin" class="font">Exam</a>
                <ul class="submenu2" type="none">
                    <li><a href="/teacherlogin" class="font"> Teachers</a></li>
                    <li><a href="/studentlogin" class="font"> Students</a></li>

                </ul>
            </li>
            <li class="point"><a href="/contact" class="font">Contact us</a></li>
            <li class="point"><a href="/feedback" class="font">Feedback</a></li>
        </ul>
        <div class="menubtn" class="font">
            <input class="search" type="text">
            <button class="searchbtn">Search</button>
        </div>
    </div>
    <div class="login" id="login">
        <div class="loginbox">
            <form class="feedbackbox" action="/admin1" method="post">

                <table>
                    <tr>
                        <td>
                            <label for="username"> Username:</label>
                        </td>
                        <td>
                            <input type="text" class="text" id="username" placeholder="Enter Username" name="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password"> Password:</label>
                        </td>
                        <td>
                            <input type="text" class="text" id="password" placeholder="Enter Password" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="capword">
                                <div class="w" id="w"></div>
                                <div class="r" id="r">↺</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="text" class="text" id="text" placeholder="Enter Caption" name="caption1">
                        </td>
                    </tr>
                </table>


                <div class="loginbtn">
                    <div class="log" ><a id="log" href="/admin1" class="font">Login</a></div>
                    <input type="submit" class="sub" id="sub" value="Submit Now">
                    <div class="reg" ><a id="reg" href="/admin2" class="font">Register</a></div>
                </div>
            </form>

        </div>
    </div>

    <footer class="footer font">
        <div class="footerword">{{para["para4"]}}</div>
        <div class="footerimg">
            <a href="https://www.facebook.com" target="_blank"><img src="{{ url_for('static', filename='face.jpg') }}" alt=""></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{{ url_for('static', filename='ins.jpg') }}" alt=""></a>
            <a href="https://twitter.com" target="_blank"><img src="{{ url_for('static', filename='twi.jpg') }}" alt=""></a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='addlogin1.js') }}"></script>
</body>

</html>