<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{college["title"]}}</title>

    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link media="screen and (max-width:1300px)" href="{{url_for('static', filename='media.css') }}" rel="stylesheet">
    <link media="screen and (max-width:1300px)" href="{{url_for('static', filename='media_blogtable.css') }}" rel="stylesheet">

</head>

<body>
    <div class="meanmenu">
        <div class="icon">
            <img src="{{url_for('static',filename="logo.jpg")}}" alt="Wait">
        </div>
        <ul class="menupoint" type="none">
            <li class="point active" id="li">
                <a href="/" class="font">Home</a>
                <ul class="submenu1" type="none">
                    <li class="marg"><a href="" class="font"> Details</a>
                        <ul class="ssmenu1" type="none">
                            <li><a href="/detail" class="font">Detail</a></li>
                            <li><a href="/admin1" class="font">Login</a></li>
                            <li><a href="/feedback" class="font">Feedback 3</a></li>
                        </ul>
                    </li>
                    <li><a href="/addlogin" class="font">Add</a></li>
                    <li><a href="" class="font"> Exam </a></li>
                    <li><a href="/contact" class="font">Contact us </a></li>
                    <li><a href="/feedback" class="font"> Feedback </a></li>
                </ul>
            </li>
            <li class="point"><a href="/detail" class="font">Details</a>
            </li>
            <li class="point"><a href="/admission1" class="font">Admission</a>
            <ul class="submenu1" type="none">
                    <li><a href="/admission1" class="font">Form</a></li>
                    <li><a href="/admission2" class="font"> Update </a></li>
                </ul>
            </li>
            <li class="point"><a href="/studentlogin" class="font">Exam</a>
                <ul class="submenu2" type="none">
                    <li><a href="/teacherlogin" class="font"> Teachers</a></li>
                    <li><a href="/studentlogin" class="font"> Students</a></li>

                </ul>
            </li>
            <li class="point"><a href="/contact" class="font">Contact us</a></li>
            <li class="point"><a href="/feedback" class="font">Feedback</a></li>
        </ul>
        <div class="menubtn" class="font">
            <input class="search" type="text">
            <button class="searchbtn">Search</button>
        </div>
    </div>
    <div class="table">
        <div class="box1">
            <a href="/logout" class="th">Logout</a>
            <a href="/add" class="th">ADD</a>
        </div>
        <table class="box" cellpadding="10" cellspacing="0">
            <tr>
                <th style="width:12px;">SNO</th>
                <th>Blog</th>
                <th style="width:80px;">
                    Btn1
                </th>
                <th style="width:80px;">
                    Btn2
                </th>
            </tr>
            {% for posts in post%}
            <tr>
                <td>{{posts.sn}}</td>
                <td>{{posts.title}}</td>
                <td>
                    <a href="/edit/{{posts.sn}}" class="th">Edit</a>
                </td>
                <td>
                    <a href="/delete/{{posts.sn}}" class="th">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer class="footer font">
        <div class="footerword">{{para["para4"]}}</div>
        <div class="footerimg">
            <a href="https://www.facebook.com" target="_blank"><img src="{{ url_for('static', filename='face.jpg') }}" alt=""></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{{ url_for('static', filename='ins.jpg') }}" alt=""></a>
            <a href="https://twitter.com" target="_blank"><img src="{{ url_for('static', filename='twi.jpg') }}" alt=""></a>
        </div>
    </footer>
</body>

</html>