/* padding: 0em 0e */
.project {
  padding: 0vw 8vw;
  margin-top: 2vw;
  height: 130vw;
}
.hr {
  margin-bottom: 3vw;
}
.projectHead {
  font-size: 3vw;
  margin: -0.25vw 0vw;
}
.projectHead span {
  color: #ff7200;
}
.projectBox1,
.projectBox2,
.projectBox3,
.projectBox4,
.projectBox5 {
  display: flex;
  margin: 2.5vw 0vw;
}

.projectDetailBox1,
.projectDetailBox2,
.projectDetailBox4,
.projectDetailBox3,
.projectDetailBox5 {
  padding: 0em 1.5vw;
  width: 60vw;
}
.projectDetail1,
.projectDetail2,
.projectDetail4,
.projectDetail3,
.projectDetail5 {
  font-size: 1.2vw;
}
.projectBox2,
.projectBox4 {
  display: flex;
  flex-direction: row-reverse;
  /* padding: 0vw 0vw; */
}
.projectDetailBox2,
.projectDetailBox4 {
  padding: 0vw 0vw;
}
.projectImg1 img,
.projectImg2 img,
.projectImg3 img,
.projectImg4 img,
.projectImg5 img {
  width: 25vw;
  height: 16vw;
  border-radius: 2vw;
}

.projectDetailLan1,
.projectDetailLan2,
.projectDetailLan3,
.projectDetailLan4,
.projectDetailLan5 {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  font-size: 1.4vw;
  color: #0ef;
  margin-bottom: -0.1vw;
}
.projectDetailHead1,
.projectDetailHead2,
.projectDetailHead3,
.projectDetailHead4,
.projectDetailHead5 {
  margin-bottom: -0.2vw;
  font-size: 2vw;
  color: #ff7200;
  margin-top: -0.3vw;
}
.projectbtnItem {
  color: #081b29;
  text-decoration: none;
  background-color: #0ef;
  border-radius: 0.3vw;
  font-size: 1.2vw;
}
.projectbtn {
  width: 7vw;
  margin-top: 0.7vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .NavBoxMain {
    height: 5.5vw;
  }

  .NavBox {
    height: 5vw;
  }
  .Navheadtext {
    font-size: 2.9vw;
  }
  .Navitems {
    width: 50vw;
    font-size: 2.4vw;
  }
  .homeDetail {
    font-size: 2vw;
  }
  .homeProject-info p {
    font-size: 1.5vw;
  }
  .homeProject-info {
    padding: 0.62vw;
    height: 21vw;
    width: 40.5vw;
  }
  .Haboutdetail {
    font-size: 2vw;
  }

  .footer {
    height: 5vw;
  }

  .footerHeadLeft {
    width: 74vw;
    height: 100%;
  }
  .footerTextCom {
    font-size: 2vw;
  }

  .Aaboutdetail,
  .aboutDetailEnd {
    font-size: 2vw;
  }
  .AaboutImgBox {
    display: none;
  }

  .ATAboutBox {
    height: 50vw;
  }
  .ATaboutBox {
    height: 31.5vw;
    margin-left: -0vw;
  }

  .education1Grade,
  .education1Clg,
  .education2Clg1,
  .education2Grade1,
  .education2Clg2,
  .education2Grade2 {
    font-size: 1.8vw;
  }

  .education {
    height: 65vw;
  }
}
