.details {
    position: relative;
    top: 150px;
    /* width: 1300px; */
}

.detail {
    width: 1200px;
    margin: auto;
}

.commerce,
.science,
.art {
    margin: 40px 20px;
}

.h1 {
    font-size: 60px;
    font-weight: bold;
}

.h2 {
    font-size: 30px;
    font-weight: bold;
}

.h3 {
    font-size: 25px;
}

.meanmenu {
    margin-top: -38px;
}